body{
  background-color: transparent;
}
 
 .titolo{
    font-style: italic;
  }
  .ricerca {
    padding: 7px;
  }
  .input-group {
    width: 57%;
    float: left;
    left: 21%;
  }
  .btn-toolbar {
    padding-top: 1%;
  }
  .btn-group{
    float: left;
    left: 19%;
  }

  .attr{
    background-color: darkcyan;
    color: white;
  }