body{
  background-color: transparent;
}
 
 .titolo{
    font-style: italic;
  }
  .ricerca {
    padding: 7px;
  }
  .input-group {
    width: 57%;
    float: left;
    left: 21%;
  }
  .btn-toolbar {
    padding-top: 1%;
  }
  .btn-group{
    float: left;
    left: 19%;
  }

  .attr{
    background-color: darkcyan;
    color: white;
  }

  .list{
    border: darkcyan;
    
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  
  }
  
  td, th, tr {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  .button1 {
    background-color: white; 
  border: 2px solid black;
  border-radius: 10%;
  color: blue;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;

  }
  
  .button1:hover {
    background-color:#756dec;
    color: white;
  }
  
  