<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

  <link href="primapagina.component.css" rel="stylesheet">

  <style>

  </style>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="row col-12">
          <div class="col-4 text-center">
            <h1 class="titolo" style="color: white;">Carbook</h1>
          </div>
          <div class="col-4 ricerca">
            <div class="input-group">
              <input
                type="search"
                class="form-control"
                placeholder="Search"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon2"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="col-4">
            <div
              class="btn-toolbar"
              role="toolbar"
              aria-label="Toolbar with button groups"
            >
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-home"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-plus"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-newspaper"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-bell"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-calendar-alt"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-paper-plane"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-user"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

<div style= "background-color: transparent; margin-top: 10px; height: 100%;">

        <div class="card" style="width: 30rem; margin: auto;">
            <h5 class="card-title" style="margin: 2%;">Mario_Rossi87</h5>
            <h6 class="card-subtitle mb-2 text-muted" style="margin: 2%; margin-top: -4px;">Cinisello Balsamo, Milano</h6>
            <img src="assets/sfondo.jpg" class="card-img-top" style="width: 90%; height: 90%; margin: auto;">
            <div class="card-body">
              <p class="card-text">Questa è la descrizione del post</p>
              <button type="button" class="btn btn-primary" style="background-color: transparent; margin-right: 5px;">
              <a href="#" class="card-link"><i class="far fa-thumbs-up"></i></a>
            </button>
            <button type="button" class="btn btn-primary" style="background-color: transparent;">
              <a href="#" class="card-link"><i class="far fa-comments"></i></a>
            </button>
          </div>
        </div>   
<!--
<div class="card" style="width: 30rem; margin: auto;">
    <h5 class="card-title" style="margin: 2%;">Luigi_Bianchi72</h5>
    <h6 class="card-subtitle mb-2 text-muted" style="margin: 2%; margin-top: -4px;">Rozzano, Milano</h6>
    <img src="assets/pimpcar.jpg" class="card-img-top" style="width: 90%; height: 90%; margin: auto;">
    <div class="card-body">
      <p class="card-text">Questa è la descrizione del post</p>
      <button type="button" class="btn btn-primary" style="background-color: transparent; margin-right: 5px;">
      <a href="#" class="card-link"><i class="far fa-thumbs-up"></i></a>
    </button>
    <button type="button" class="btn btn-primary" style="background-color: transparent;">
      <a href="#" class="card-link"><i class="far fa-comments"></i></a>
    </button>
  </div>
</div>  

<div class="card" style="width: 30rem; margin: auto;">
    <h5 class="card-title" style="margin: 2%;">Fabrizio_Verdi91</h5>
    <h6 class="card-subtitle mb-2 text-muted" style="margin: 2%; margin-top: -4px;">San Giuliano, Milano</h6>
    <img src="assets/classiccar.jpg" class="card-img-top" style="width: 90%; height: 90%; margin: auto;">
    <div class="card-body">
      <p class="card-text">Questa è la descrizione del post</p>
      <button type="button" class="btn btn-primary" style="background-color: transparent; margin-right: 5px;">
      <a href="#" class="card-link"><i class="far fa-thumbs-up"></i></a>
    </button>
-->
  <!-- <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingTwo">
       <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" 
                aria-expanded="false" aria-controls="collapseTwo" type="button" style="background-color: transparent;">
                    <a href="#" class="card-link"><i class="far fa-comments"></i></a>
                  </button>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Commento n°1
              </div>
            </div>
          </div>

          
          

</div>-->
<!--
<button type="button" class="btn btn-primary" style="background-color: transparent;">
    <a href="#" class="card-link"><i class="far fa-comments"></i></a>
  </button>
</div> 

</div>
-->
</div>
<!--
<footer style="background-color: blue; height: 50px; color: aqua;">Carbook</footer>
-->
  </body>
</html>
