<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   
  <link href="pagina-alert.component.css" rel="stylesheet">

  <style> 

  </style>
  </head>
  <body style="background-color: transparent;">

    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="row col-12">
          <div class="col-4 text-center">
            <h1 class="titolo" style="color: white;">Carbook</h1>
          </div>
          <div class="col-4 ricerca">
            <div class="input-group">
              <input
                type="search"
                class="form-control"
                placeholder="Search"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon2"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="col-4">
            <div
              class="btn-toolbar"
              role="toolbar"
              aria-label="Toolbar with button groups"
            >
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-home"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-plus"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-newspaper"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-bell"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-calendar-alt"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-paper-plane"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-user"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
 
 <div style="background-color:transparent;"> 
        <h1 style = "text-align:center">Benvenuto in CarBook!</h1>
        <p style = "text-align:center; font-size: 20px;">Non puoi ancora vedere dei contenuti perché non segui ancora nessuno.
            Inizia aggiungendo un'immagine profilo al tuo account e seguendo qualche profilo consigliato qui sotto!.
</div>

<div class="container-fluid">
  <div class="row" style="height: 300px;">

    <div class="col-sm-3 box" style="background-image: url(assets/sfondoutentepa.jpg);">
      <p class="username">Mio_Username</p>
   
   <i class="fas fa-map-marker-alt" style="top: 80%; margin-left: 5%; position: absolute;"></i>

  <div id="postseguaciseguiti" style="position: absolute; margin-left: 43%; margin-top: 15%;">
    <ul class="list-group" style="background-color: lightblue; ">
      <li class="list-group-item d-flex justify-content-between align-items-center lista" >
       Post
        <span class="badge bg-light text-dark" style="color:white; font-size: 120%;">0</span>
      </li>
      <li class="list-group-item align-items-center lista ">
       Follower
        <span class="badge bg-light text-dark" style="color:white; font-size: 120%; ">0</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center lista" style="border-bottom: none;">
        Following
        <span class="badge bg-light text-dark" style="color:white;  font-size: 120%;">0</span>
      </li>
    </ul>
    </div>
     <!-- <div id="immagine" style="width: 180px; height: 180px; background-color: blue;border-radius: 50%; margin-top: 5%; position: absolute;"> -->
      <img [src]="url ? url : 'assets/imgvuotaprofile.png'" style=" width: 38%; height: 60%; background-color: blue;border-radius: 50%; margin-top: 3%; border: blue solid; position: absolute; min-width: 38%; min-height: 40%;"> 
 
      <label for="testo" class="btn" style=" background-color: blue; color: white; font-size: 80%; padding: 1%; top: 67%; margin-left: 5%; position: absolute;">Aggiungi immagine</label>
      <input type='file' id="testo" (change)="onSelectFile($event)" style="visibility: hidden;">

    </div>
  
    <div class="col-sm-3 box" style="background-image: url(assets/sfondoutentepa.jpg);">
        <img src="assets/sfondo.jpg" class="immagine">
          <p class="username">Altro_Username</p>
      <div id="postseguaciseguiti" style="position: absolute; margin-left: 43%; margin-top: 15%;">
        <ul class="list-group" style="background-color: lightblue; ">
          <li class="list-group-item d-flex justify-content-between align-items-center lista" >
           Post
            <span class="badge bg-light text-dark" style="color:white; font-size: 120%;">89</span>
          </li>
          <li class="list-group-item align-items-center lista ">
           Follower
            <span class="badge bg-light text-dark" style="color:white; font-size: 120%; ">11.590</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center lista" style="border-bottom: none;">
            Following
            <span class="badge bg-light text-dark" style="color:white;  font-size: 120%;">274</span>
          </li>
        </ul>
        </div>
            <button class="btn btn-primary follow">Follow</button> 
    </div>




    <div class="col-sm-3 box" style=" background-image: url(assets/sfondoutentepa.jpg); ">
      <img src="assets/pimpcar.jpg" class="immagine">
      <p class="username" >Test_Username</p>
  <div id="postseguaciseguiti" style="position: absolute; margin-left: 43%; margin-top: 15%;">
    <ul class="list-group" style="background-color: lightblue; ">
      <li class="list-group-item d-flex justify-content-between align-items-center lista" >
       Post
        <span class="badge bg-light text-dark" style="color:white; font-size: 120%;">89</span>
      </li>
      <li class="list-group-item align-items-center lista ">
       Follower
        <span class="badge bg-light text-dark" style="color:white; font-size: 120%; ">11.590</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center lista" style="border-bottom: none;">
        Following
        <span class="badge bg-light text-dark" style="color:white;  font-size: 120%;">274</span>
      </li>
    </ul>
    </div>
          <button class="btn btn-primary follow">Follow</button>
       
    </div>

    <div class="col-sm-3 box" style=" background-image: url(assets/sfondoutentepa.jpg);">
      <img src="assets/classiccar.jpg" class="immagine">  
   
      <p class="username" >Prova_Username</p>
  <div id="postseguaciseguiti" style="position: absolute; margin-left: 43%; margin-top: 15%;">
    <ul class="list-group" style="background-color: lightblue; ">
      <li class="list-group-item d-flex justify-content-between align-items-center lista" >
       Post
        <span class="badge bg-light text-dark" style="color:white; font-size: 120%;">89</span>
      </li>
      <li class="list-group-item align-items-center lista ">
       Follower
        <span class="badge bg-light text-dark" style="color:white; font-size: 120%; ">11.590</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center lista" style="border-bottom: none;">
        Following
        <span class="badge bg-light text-dark" style="color:white;  font-size: 120%;">274</span>
      </li>
    </ul>
    </div>
          <button class="btn btn-primary follow">Follow</button>
    
    </div>

 </div>
</div>

</body>
</html>
