<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   
  <link href="pagina-alert.component.css" rel="stylesheet">

  <style>

  </style>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="row col-12">
          <div class="col-4 text-center">
            <h1 class="titolo" style="color: white;">Carbook</h1>
          </div>
          <div class="col-4 ricerca">
            <div class="input-group">
              <input
                type="search"
                class="form-control"
                placeholder="Search"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon2"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="col-4">
            <div
              class="btn-toolbar"
              role="toolbar"
              aria-label="Toolbar with button groups"
            >
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-home"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-plus"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-newspaper"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-bell"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-calendar-alt"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-paper-plane"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-user"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
 
 <div style="background-color: #c7eff5; height: 100%;"> 
        <h1 style = "text-align:center">Benvenuto in CarBook!</h1>
        <p style = "text-align:center">Non puoi ancora vedere dei contenuti perché non segui ancora nessuno.<br>
            Usa la barra di ricerca qui in alto,<br>
            utilizza gli hashtag per trovare i contenuti che ti piacciono di più!</p>
</div>
<footer style="background-color: blue; height: 100px;"></footer>
  </body>
</html>
