.titolo{
    font-style: italic;
  }
  .ricerca {
    padding: 7px;
  }
  .input-group {
    width: 57%;
    float: left;
    left: 21%;
  }
  .btn-toolbar {
    padding-top: 1%;
  }
  .btn-group{
    float: left;
    left: 19%;
  }

.immagine{
  width: 180px; height: 180px; background-color: blue;border-radius: 50%; margin-top: 10px; border: blue solid; position: absolute;
}

.pulsante:focus{
  background-color: white;
  color: blue;
  border: blue solid;
}

.box{ background-size:100%; border-width: thin; border-style: solid; border-color: blue; min-width: 350px; min-height: 300px;}

.lista{ background-color:#c5eef8}

.follow{left:81%; top: 82%; position: absolute;}

.username{font-size: 20px; color: black; font-family: sans-serif; margin-left: 43%; margin-top: 5%; 
  position: absolute; border-bottom: 1px solid #d1d0d0; padding-bottom: 2px;}

  input[type="file"] {
    display: block;
  }
  .imageThumb {
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
  }
  .pip {
    display: inline-block;
    margin: 10px 10px 0 0;
  }
  .remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  .remove:hover {
    background: white;
    color: black;
  }