<!DOCTYPE html>
<html lang="en">

  

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    


  </head>
  <body>
    
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="row col-12">
          <div class="col-4 text-center">
            <h1 class="titolo" style="color: white;">Carbook</h1>
          </div>
          <div class="col-4 ricerca">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2"/>
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="col-4">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">

              <a routerLink="/primapagina"><button type="button" class="btn btn-primary">
                  <i class="fas fa-home"></i>
                </button></a>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postpiu">
                   <i class="fas fa-plus"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="postpiu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crea post</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                    </div>
                    <div class="modal-body">
                      
                    
                     <img [src]="url ? url : 'assets/plusPost.jpg'" style=" width: 100%; height: 100%; border: 2px solid #000; border-radius: 1%;"> 
                     <label for="testo" class="btn" style=" background-color: rgb(119, 119, 245); color: white; font-size: 80%; padding-top:10px; margin-top: 3%;">Aggiungi file</label>
                      <input type='file' id="testo" (change)="onSelectFile($event)" style="visibility: hidden;" #media>

                      <label for="descrizione">Descrizione</label>
                      <input type="text" class="form-control" id="descrizione" #descrizione>
                      <label for="example-date-input" class="col-4 col-form-label" style="font-size: 20px;">Data</label>
                     <input class="form-control" type="date" value="2011-08-19" id="example-date-input" #dataPubblicazione>
                     <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="aggiungi(media.value, descrizione.value, dataPubblicazione.value)">Pubblica</button>
                  
                    </div>
                    </div>
                    </div>
                 
            </div>
          </div>
        
                <button type="button" class="btn btn-primary">
                  <i class="far fa-newspaper"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-bell"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-calendar-alt"></i>
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="far fa-paper-plane"></i>
                </button>

                <a routerLink="/putente"> <button type="button" class="btn btn-primary">
                  <i class="far fa-user"></i>
                </button></a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>



    <div *ngFor="let post of pubblicazioni" id="container" style="margin: auto; height: 400px; width: 500px; background-color:white;" class="shadow p-3 mb-2 bg-white rounded">
      <div id="nome" style="height: 55px;">
        <img src="assets/imgvuotaprofile.png" style="border-radius: 20px; height: 40px; width: 40px; float: left; margin: 5px;">
        <p style="margin: 10px; float: left; font-size: 20px; font-family:Arial, Helvetica, sans-serif">Mario_rossi88</p>
       <!--<img src="" style="width: 100%; height: 300px;">-->
      <div style="width: 300px; height: 300px;">{{post.media}}</div>
        <p>{{post.descrizione}}, {{post.dataPubblicazione}}</p>
      </div>
    </div>




  </body>
</html>