body{
  background-color: transparent;
  display: block;
  margin-top: 16.6%;
}

.titolo{
    font-style: italic;
  }

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.ricerca {
    padding: 7px;
}

.input-group {
    width: 57%;
    float: left;
    left: 21%;
}

.btn-toolbar {
    padding-top: 1%;
}

.btn-group{
    float: left;
    left: 19%;
}