<html>
    <head>
        
    </head>

    <body style="background-color: rgb(66, 66, 66);">
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="row col-12">
                <div class="col-4 text-center">
                    <h1 class="titolo" style="color: white;">Carbook</h1>
                </div>
                    <div class="col-4 ricerca">
                        <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search"  aria-label="Recipient's username" aria-describedby="button-addon2"/>
                        <button  class="btn btn-outline-secondary" type="button" id="button-addon2"  >
                            <i class="fas fa-search"></i>
                        </button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div  class="btn-toolbar"  role="toolbar"  aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-primary">
                                <i class="fas fa-home"></i>
                                </button>
                                <button type="button" class="btn btn-primary">
                                <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-primary">
                                <i class="far fa-user"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </nav>

            
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="min-width:700px; max-width: 50%; margin: auto;" >
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                <div class="carousel-inner" style="margin: auto; height: 500px; width: 100%; border: black solid;">
                  <div class="carousel-item active" style="height: 500px; width: 100%; ">
                    <img class="immagine" src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_3fa78083-1281-4341-b46e-2db3c23e0b7d.jpg/640x480.jpg" alt="First slide">
                  </div> 
                  <div class="carousel-item" style="height: 100%; width: 100%;">
                    <img class="immagine" src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_c738f91f-9a17-404a-bd1c-dd3bdc6470fb.jpg/640x480.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item" style="height: 100%; width: 100%;">
                    <img class="immagine" src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_2406185a-6748-448c-b644-41e9d1077e48.jpg/640x480.jpg" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            <div class="container" style="margin: auto; width: 400px;">
                <div class="row" >
                    <div class="col-sm" style="padding: 10px; height: 70px; width: 50px;">
                        <img src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_3fa78083-1281-4341-b46e-2db3c23e0b7d.jpg/640x480.jpg" class="immagine">
                    </div>
                    <div class="col-sm" style="padding: 10px; height: 70px; width: 50px;">
                        <img src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_c738f91f-9a17-404a-bd1c-dd3bdc6470fb.jpg/640x480.jpg" class="immagine">
                    </div>
                    <div class="col-sm" style="padding: 10px; height: 70px; width: 50px;">
                        <img src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_2406185a-6748-448c-b644-41e9d1077e48.jpg/640x480.jpg" class="immagine">
                    </div>
                </div>
            </div>

            <table class="table table-dark table-hover" style = "table-layout:fixed">

                <h3><strong>Dati principali</strong></h3>

                <tr>
                    <th>Stato</th>
                    <th>Motore e trazione</th>
                    <th>Caratteristiche</th>
                </tr>
                <br>

                <script>
                </script>
                <tr>
                    <td>Tipologia di veicolo: 
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                            Nuovo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                            Usato
                            </label>
                        </div>
                    </td>

                    <td>
                        Tipo di cambio: 
                        <label for="cambio"></label>
                        <input value = "" type="text" class="form-control" id="cambio" #cambio>
                    </td>

                    <td>Marca: 
                        <label for="Marca"></label>
                        <input value = "" type="text" class="form-control" id="marca" #marca>
                    </td>
                </tr>

                <br>

                <tr>
                    <td>Prossima revisione: <br>
                        <label for="start"></label>

                            <input type="date" id="start" name="trip-start" value="" min="2018-01-01" max="2099-12-31">
                    </td>

                    <td>Marce: 
                        <label for="marce"></label>
                        <input value = "" type="text" class="form-control" id="marce" #marce>
                    </td>

                    <td>Modello: 
                        <label for="modello"></label>
                        <input value = "" type="text" class="form-control" id="modello" #modello>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>Ultimo tagliando: <br>
                        <label for="start"></label>

                            <input type="date" id="start" name="trip-start" value="" min="2018-01-01" max="2099-12-31">
                    </td>

                    <td>Cilindrata: 
                        <label for="cilindrata"></label>
                        <input value = "" type="text" class="form-control" id="cilindrata" #cilindrata>
                    </td>

                    <td>Anno: 
                        <label for="anno"></label>
                        <input value = "" type="text" class="form-control" id="anno" #anno>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>Tagliandi certificati: 
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            Si
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                            No
                            </label>
                        </div>
                    </td>

                    <td>Cavalli: 
                        <label for="cavalli"></label>
                        <input value = "" type="text" class="form-control" id="cavalli" #cavalli>
                    </td>

                    <td>Colore esterno: 
                        <label for="coloreesterno"></label>
                        <input value = "" type="text" class="form-control" id="coloreesterno" #coloreesterno>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>&nbsp;</td>

                    <td>Cilindri: 
                        <label for="cilindri"></label>
                        <input value = "" type="text" class="form-control" id="cilindri" #cilindri>
                    </td>

                    <td>Tipo di vernice: 
                        <label for="vernice"></label>
                        <input value = "" type="text" class="form-control" id="vernice" #vernice>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>&nbsp;</td>

                    <td>Peso a vuoto: 
                        <label for="pesovuoto"></label>
                        <input value = "" type="text" class="form-control" id="pesovuoto" #pesovuoto>
                    </td>

                    <td>Carrozzeria: 
                        <label for="carrozzeria"></label>
                        <input value = "" type="text" class="form-control" id="carrozzeria" #carrozzeria>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Porte: 
                        <label for="porte"></label>
                        <input value = "" type="text" class="form-control" id="porte" #porte>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    
                    <td>Posti a sedere: 
                        <label for="postiasedere"></label>
                        <input value = "" type="text" class="form-control" id="postiasedere" #postiasedere>
                    </td>

                </tr>
                <br>
                <hr>

                <h3><strong>Equipaggiamento</strong></h3>

                <tr>
                    <th>Comfort</th>
                    <th>Infotainment</th>
                    <th>Extra</th>
                    <th>Sicurezza</th>
                </tr>

                <tr>
                    <td>
                        <ul>
                            <li>Alzacristalli elettrici</li>
                            <li>Braccioli</li>
                            <li>Climatizzatore bi-zona</li>
                            <li>Parabrezza riscaldato</li>
                            <li>Sedile posteriore sdoppiato</li>
                            <li>Sensori di parcheggio</li>
                            <li>Sensore di luminosità</li>
                            <li>Sistema di navigazione</li>
                            <li>Volante multifunzione</li>
                        </ul>
                    </td>

                    <td>
                        <ul>
                            <li>Autoradio</li>
                            <li>Bluetooth</li>
                            <li>Android auto / Apple car-play</li>
                            <li>USB</li>
                            <li>Vivavoce</li>
                        </ul>
                    </td>

                    <td>
                        <ul>
                            <li>Cerchi in lega</li>
                            <li>Controllo vocale</li>
                            <li>Freno di stazionamento elettrico</li>
                        </ul>
                    </td>

                    <td>
                        <ul>
                            <li>ABS</li>
                            <li>Airbag conducente</li>
                            <li>Airbag laterali</li>
                            <li>Airbag passeggero</li>
                            <li>Airbag posteriore</li>
                            <li>Antifurto</li>
                            <li>Chiusura centralizzata</li>
                            <li>Controllo automatico trazione</li>
                            <li>ESP</li>
                            <li>Servosterzo</li>
                        </ul>
                    </td>
                </tr>
            </table>

<!-- padding left sui bottoni per staccarli e paddin-top per centrare i bottoni-->

        <div class = "prova">
            <div style = "position: absolute; background-color: transparent;">
                <button type="button" class="button button1">Annulla</button>
                <button type="button" class="button button2">Salva cambiamenti</button>
            </div>
        </div>
    </body>
</html>