<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="p-annuncio.component.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="row col-12">
                <div class="col-4 text-center">
                    <h1 class="titolo" style="color: white;">Carbook</h1>
                </div>
                    <div class="col-4 ricerca">
                        <div class="input-group">
                        <input
                            type="search"
                            class="form-control"
                            placeholder="Search"
                            aria-label="Recipient's username"
                            aria-describedby="button-addon2"
                        />
                        <button
                            class="btn btn-outline-secondary"
                            type="button"
                            id="button-addon2"
                        >
                            <i class="fas fa-search"></i>
                        </button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div
                        class="btn-toolbar"
                        role="toolbar"
                        aria-label="Toolbar with button groups">

                            <div class="btn-group me-2" role="group" aria-label="First group">

                                <button type="button" class="btn btn-primary">
                                <i class="fas fa-home"></i>
                                </button>

                                <button type="button" class="btn btn-primary">
                                <i class="fas fa-plus"></i>
                                </button>

                                <button type="button" class="btn btn-primary">
                                <i class="far fa-user"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </nav>

<!--
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../assets/logo-2.png" style=" width: 20%; height: 20%; border: 2px solid #000; border-radius: 1%; align-items: center;">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/pimpcar.png" style=" width: 20%; height: 20%; border: 2px solid #000; border-radius: 1%; align-items: center;">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/sfondo.png" style=" width: 20%; height: 20%; border: 2px solid #000; border-radius: 1%; align-items: center;">
                  </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
-->
        <table class="table table-dark table-hover">

            <h3><strong>Dati principali</strong></h3>

            <tr>
                <th>Stato</th>
                <th>Motore e trazione</th>
                <th>Caratteristiche</th>
            </tr>
            <br>

            <tr>
                <td>Tipologia di veicolo: 
                    <button type="button" 
                    class="btn btn-secondary">Nuovo</button>
                    <button type="button" 
                    class="btn btn-secondary">Usato</button>
                </td>
                <td>Tipo di cambio: </td>
                <td>Marca: </td>
            </tr>
            <br>

            <tr>
                <td>Prossima revisione: </td>
                <td>Marce: </td>
                <td>Modello: </td>
            </tr>
            <br>

            <tr>
                <td>Ultimo tagliando: </td>
                <td>Cilindrata: </td>
                <td>Anno: </td>
            </tr>
            <br>

            <tr>
                <td>Tagliandi certificati: </td>
                <td>Cilindri: </td>
                <td>Colore esterno: </td>
            </tr>
            <br>

            <tr>
                <td>&nbsp;</td>
                <td>Peso a vuoto: </td>
                <td>Tipo di vernice: </td>
            </tr>
            <br>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Carrozzeria: </td>
            </tr>
            <br>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Porte: </td>
            </tr>
            <br>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Posti a sedere: </td>
            </tr>
            <br>
            <hr>

            <h3><strong>Equipaggiamento</strong></h3>

            <tr>
                <th>Comfort</th>
                <th>Infotainment</th>
                <th>Extra</th>
                <th>Sicurezza</th>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>Alzacristalli elettrici</li>
                        <li>Braccioli</li>
                        <li>Climatizzatore bi-zona</li>
                        <li>Parabrezza riscaldato</li>
                        <li>Sedile posteriore sdoppiato</li>
                        <li>Sensori di parcheggio</li>
                        <li>Sensore di luminosità</li>
                        <li>Sistema di navigazione</li>
                        <li>Volante multifunzione</li>
                      </ul>
                </td>

                <td>
                    <ul>
                        <li>Autoradio</li>
                        <li>Bluetooth</li>
                        <li>Android auto / Apple car-play</li>
                        <li>USB</li>
                        <li>Vivavoce</li>
                    </ul>
                </td>

                <td>
                    <ul>
                        <li>Cerchi in lega</li>
                        <li>Controllo vocale</li>
                        <li>Freno di stazionamento elettrico</li>
                    </ul>
                </td>

                <td>
                    <ul>
                        <li>ABS</li>
                        <li>Airbag conducente</li>
                        <li>Airbag laterali</li>
                        <li>Airbag passeggero</li>
                        <li>Airbag posteriore</li>
                        <li>Antifurto</li>
                        <li>Chiusura centralizzata</li>
                        <li>Controllo automatico trazione</li>
                        <li>ESP</li>
                        <li>Servosterzo</li>
                    </ul>
                </td>
            </tr>
                    
        </table>
        


    </body>
</html>