<html>
    <head>
        
    </head>

    <body> 
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
              <div class="row col-12">
                <div class="col-3 text-center">
                  <h1 class="titolo" style="color: white;">Carbook</h1>
                </div>
                <div class="col-4 ricerca">
                  <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2"/>
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="margin-left:2px;">
                      <i class="fas fa-search" style="color: white;"></i>
                    </button>
                  </div>
                </div>
                <div class="col-3">
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" >
                    <div class="btn-group me-2" role="group" aria-label="First group" style="margin: auto;">
        
                    <a routerLink="/primapagina"><button type="button" class="btn btn-primary">
                        <i class="fas fa-home"></i>
                      </button></a>
        
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postpiu">
                         <i class="fas fa-plus"></i>
                      </button>
                      <!-- Modal -->
                      <div class="modal fade" id="postpiu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Crea annuncio</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                           </button>
                          </div>
                          <div class="modal-body">
                                <!--url ? url : 'assets/plusPost.jpg'-->
                           <img [src]="url ? url : 'assets/plusPost.jpg'" style=" width: 100%; height: 100%; border: 2px solid #000; border-radius: 1%;"> 
                           <label for="testo" class="btn" style=" background-color: rgb(119, 119, 245); color: white; font-size: 80%; padding-top:10px; margin-top: 3%;">Aggiungi immagine</label>
                                                 <!--(change)="onSelectFile($event)"-->
                           <input type='file' id="testo" (change)="onSelectFile($event)" style="visibility: hidden;" #fotoAuto>
                            <label for="descrizione">Descrizione</label>
                            <input type="text" class="form-control" id="descrizione" #descrizione>
                            <label for="descrizione">Alimentazione</label>
                            <input type="text" class="form-control" id="alimentazione" #alimentazione>
                            <label for="descrizione">Potenza</label>
                            <input type="text" class="form-control" id="potenza" #potenza>
                            <label for="descrizione">Chilometraggio</label>
                            <input type="text" class="form-control" id="chilometraggio" #chilometraggio>
                            <label for="descrizione">Marca</label>
                            <input type="text" class="form-control" id="marca" #marca>
                            <label for="descrizione">Anno Immatricolazione</label>
                            <input type="text" class="form-control" id="annoImmatricolazione" #annoImmatricolazione>
                            <label for="descrizione">Modello</label>
                            <input type="text" class="form-control" id="modello" #modello>
                            <label for="descrizione">Costo</label>
                            <input type="text" class="form-control" id="costo" #costo>
                            <label for="descrizione">Stato</label>
                            <input type="text" class="form-control" id="stato" #stato>
                            <label for="descrizione">Città</label>
                            <input type="text" class="form-control" id="citta" #citta>
                            <label for="descrizione">Cambio</label>
                            <input type="text" class="form-control" id="cambio" #cambio>
                           <!-- <label for="example-date-input" class="col-4 col-form-label" style="font-size: 20px;">Data</label>
                           <input class="form-control" type="date" value="2011-08-19" id="example-date-input" >-->
                        
                           <div class="container" style="margin-top: 10px; ">
                            <div class="row" style="width: 100%;">
                              <div class="col">
                           <label>{{DataOra | date:'yyyy-MM-dd'}}</label>
                           <input type="date" class="form-control"  style="display: none;" value="{{DataOra | date:'yyyy-MM-dd'}}" #dataPubblicazione>
                              </div>
                              <div class="col" style="text-align: right;">
                           <button type="button" class="btn btn-primary" (click)="aggiungi(fotoAuto.value, alimentazione.value, potenza.value, 
                           chilometraggio.value, modello.value, costo.value, stato.value, cambio.value, 
                           marca.value, annoImmatricolazione.value, citta.value, descrizione.value, dataPubblicazione.value)">Pubblica</button>
                               </div>
                               <!--<input type="text" value="{{idAuto}}" style="display: none;" #id_automobile>-->
                         </div> 
                         </div>
                          </div>
                          </div>
                       
                  </div>
                </div>
              <!--
                      <button type="button" class="btn btn-primary">
                        <i class="far fa-newspaper"></i>
                      </button>
                      <button type="button" class="btn btn-primary">
                        <i class="far fa-bell"></i>
                      </button>
                      <button type="button" class="btn btn-primary">
                        <i class="far fa-calendar-alt"></i>
                      </button>
                      <button type="button" class="btn btn-primary">
                        <i class="far fa-paper-plane"></i>
                      </button>
         -->
         
                      <a routerLink="/modificadati"> <button type="button" class="btn btn-primary">
                        <i class="far fa-user"></i>
                      </button></a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-2"><a routerLink="/login">
                  <button type="button" style="position: absolute; left: 80%;"
                  class=" button1">
                  Logout
                </button></a></div>
              </div>
            </div>
          </nav>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="min-width:700px; max-width: 50%; margin: auto;" >
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                <div class="carousel-inner" style="margin: auto; height: 500px; width: 100%; border: black solid;">
                  <div class="carousel-item active" style="height: 500px; width: 100%; ">
                    <img class="immagine" src="../assets/logo-2.png" alt="First slide">
                  </div> 
                  <div class="carousel-item" style="height: 100%; width: 100%;">
                    <img class="immagine" src="../assets/classiccar.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item" style="height: 100%; width: 100%;">
                    <img class="immagine" src="../assets/pimpcar.jpg" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            <div class="container" style="margin: auto; width: 400px;">
                <div class="row" >
                    <div class="col-sm" style="padding: 10px; height: 70px; width: 50px;">
                        <img src="../assets/pimpcar.jpg" class="immagine">
                    </div>
                    <div class="col-sm" style="padding: 10px; height: 70px; width: 50px;">
                        <img src="../assets/classiccar.jpg" class="immagine">
                    </div>
                    <div class="col-sm" style="padding: 10px; height: 70px; width: 50px;">
                        <img src="../assets/logo-2.png" class="immagine">
                    </div>
                </div>
            </div>

        <table class="table table-dark table-hover">

            <h3><strong>Dati principali</strong></h3>

            <tr>
                <th>Stato</th>
                <th>Motore e trazione</th>
                <th>Caratteristiche</th>
            </tr>
            <br>

            <script>
            </script>
            <tr>
                <td>Tipologia di veicolo: 
                    <button type="button" 
                    class="btn btn-secondary">Nuovo</button>
                    <button type="button" 
                    class="btn btn-secondary">Usato</button>
                </td>

                <td>
                    Tipo di cambio: 
                    <label for="cambio">Cambio</label>
                    <input value = "" type="text" class="form-control" id="cambio" #cambio>
                </td>

                <td>Marca: 
                    <label for="Marca">Marca</label>
                    <input value = "" type="text" class="form-control" id="marca" #marca>
                </td>
            </tr>

            <br>

            <tr>
                <td>Prossima revisione: </td>

                <td>Marce: 
                    <label for="marce">Marce</label>
                    <input value = "" type="text" class="form-control" id="marce" #marce>
                </td>

                <td>Modello: 
                    <label for="modello">Modello</label>
                    <input value = "" type="text" class="form-control" id="modello" #modello>
                </td>
            </tr>
            <br>

            <tr>
                <td>Ultimo tagliando: </td>

                <td>Cilindrata: 
                    <label for="cilindrata">Cilindrata</label>
                    <input value = "" type="text" class="form-control" id="cilindrata" #cilindrata>
                </td>

                <td>Anno: 
                    <label for="anno">Anno</label>
                    <input value = "" type="text" class="form-control" id="anno" #anno>
                </td>
            </tr>
            <br>

            <tr>
                <td>Tagliandi certificati: </td>

                <td>Cilindri: 
                    <label for="cilindri">Cilindri</label>
                    <input value = "" type="text" class="form-control" id="cilindri" #cilindri>
                </td>

                <td>Colore esterno: 
                    <label for="coloreesterno">Colore esterno</label>
                    <input value = "" type="text" class="form-control" id="coloreesterno" #coloreesterno>
                </td>
            </tr>
            <br>

            <tr>
                <td>&nbsp;</td>

                <td>Peso a vuoto: 
                    <label for="pesovuoto">Peso a vuoto</label>
                    <input value = "" type="text" class="form-control" id="pesovuoto" #pesovuoto>
                </td>

                <td>Tipo di vernice: 
                    <label for="vernice">Tipo di vernice</label>
                    <input value = "" type="text" class="form-control" id="vernice" #vernice>
                </td>
            </tr>
            <br>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Carrozzeria: 
                    <label for="carrozzeria">Carrozzeria</label>
                    <input value = "" type="text" class="form-control" id="carrozzeria" #carrozzeria>
                </td>
            </tr>
            <br>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Porte: 
                    <label for="porte">Porte</label>
                    <input value = "" type="text" class="form-control" id="porte" #porte>
                </td>
            </tr>
            <br>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                
                <td>Posti a sedere: 
                    <label for="postiasedere">Posti a sedere</label>
                    <input value = "" type="text" class="form-control" id="postiasedere" #postiasedere>
                </td>

            </tr>
            <br>
            <hr>
<!--
            <h3><strong>Equipaggiamento</strong></h3>

            <tr>
                <th>Comfort</th>
                <th>Infotainment</th>
                <th>Extra</th>
                <th>Sicurezza</th>
            </tr>
-->
            <!--
            <tr>
                <td>
                    <ul>
                        <li>Alzacristalli elettrici</li>
                        <li>Braccioli</li>
                        <li>Climatizzatore bi-zona</li>
                        <li>Parabrezza riscaldato</li>
                        <li>Sedile posteriore sdoppiato</li>
                        <li>Sensori di parcheggio</li>
                        <li>Sensore di luminosità</li>
                        <li>Sistema di navigazione</li>
                        <li>Volante multifunzione</li>
                      </ul>
                </td>

                <td>
                    <ul>
                        <li>Autoradio</li>
                        <li>Bluetooth</li>
                        <li>Android auto / Apple car-play</li>
                        <li>USB</li>
                        <li>Vivavoce</li>
                    </ul>
                </td>

                <td>
                    <ul>
                        <li>Cerchi in lega</li>
                        <li>Controllo vocale</li>
                        <li>Freno di stazionamento elettrico</li>
                    </ul>
                </td>

                <td>
                    <ul>
                        <li>ABS</li>
                        <li>Airbag conducente</li>
                        <li>Airbag laterali</li>
                        <li>Airbag passeggero</li>
                        <li>Airbag posteriore</li>
                        <li>Antifurto</li>
                        <li>Chiusura centralizzata</li>
                        <li>Controllo automatico trazione</li>
                        <li>ESP</li>
                        <li>Servosterzo</li>
                    </ul>
                </td>
            
            </tr>
        -->

        </table>
    </body>
</html>