<html>
    <head>
        
    </head>

    <body style="background-color: rgb(66, 66, 66);">
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="row col-12">
                <div class="col-4 text-center">
                    <h1 class="titolo" style="color: white;">Carbook</h1>
                </div>
                    <div class="col-4 ricerca">
                        <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search"  aria-label="Recipient's username" aria-describedby="button-addon2"/>
                        <button  class="btn btn-outline-secondary" type="button" id="button-addon2"  >
                            <i class="fas fa-search"></i>
                        </button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div  class="btn-toolbar"  role="toolbar"  aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-primary">
                                <i class="fas fa-home"></i>
                                </button>
                                <button type="button" class="btn btn-primary">
                                <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-primary">
                                <i class="far fa-user"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </nav>

            
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="min-width:700px; max-width: 50%; margin: auto;" >
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                <div class="carousel-inner" style="margin: auto; height: 500px; width: 100%; border: black solid;">
                  <div class="carousel-item active" style="height: 500px; width: 100%; ">
                    <img class="immagine" src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_3fa78083-1281-4341-b46e-2db3c23e0b7d.jpg/640x480.jpg" alt="First slide">
                  </div> 
                  <div class="carousel-item" style="height: 100%; width: 100%;">
                    <img class="immagine" src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_c738f91f-9a17-404a-bd1c-dd3bdc6470fb.jpg/640x480.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item" style="height: 100%; width: 100%;">
                    <img class="immagine" src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_2406185a-6748-448c-b644-41e9d1077e48.jpg/640x480.jpg" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            <div class="container" style="margin: auto; width: 400px;">
                <div class="row" >
                    <div class="col-sm" style="padding: 10px; height: 70px; width: 50px;">
                        <img src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_3fa78083-1281-4341-b46e-2db3c23e0b7d.jpg/640x480.jpg" class="immagine">
                    </div>
                    <div class="col-sm" style="padding: 10px; height: 70px; width: 50px;">
                        <img src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_c738f91f-9a17-404a-bd1c-dd3bdc6470fb.jpg/640x480.jpg" class="immagine">
                    </div>
                    <div class="col-sm" style="padding: 10px; height: 70px; width: 50px;">
                        <img src="https://prod.pictures.autoscout24.net/listing-images/6cc49cb4-abc0-6f58-e053-0100007f9a4c_2406185a-6748-448c-b644-41e9d1077e48.jpg/640x480.jpg" class="immagine">
                    </div>
                </div>
            </div>

            <table class="table table-dark table-hover" style = "table-layout:fixed">

                <h3><strong>Dati principali</strong></h3>

                <tr>
                    <th>Stato</th>
                    <th>Motore e trazione</th>
                    <th>Caratteristiche</th>
                </tr>
                <br>

                <script>
                </script>
                <tr>
                    <td>Tipologia di veicolo: 
                        <div>
                            <label>
                            Usato
                            </label>
                        </div>
                    </td>

                    <td>
                        Tipo di cambio: 
                        <label for="cambio">Automatico</label>
                    </td>

                    <td>Marca: 
                        <label for="Marca">Volvo</label>
                    </td>
                </tr>

                <br>

                <tr>
                    <td>Prossima revisione: <br>
                        <label for="start">07/2022</label>
                    </td>

                    <td>Marce: 
                        <label for="marce">6</label>
                    </td>

                    <td>Modello: 
                        <label for="modello">V 60</label>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>Ultimo tagliando: <br>
                        <label for="start">11/2019</label>
                    </td>

                    <td>Cilindrata: 
                        <label for="cilindrata">1969 cm³</label>
                    </td>

                    <td>Anno: 
                        <label for="anno">2016</label>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>Tagliandi certificati: 
                        <div class="form-check">
                            <label class="form-check-label" for="flexCheckDefault">Si</label>
                        </div>
                    </td>

                    <td>Cavalli: 
                        <label for="cavalli">150CV (110 kW)</label>
                    </td>

                    <td>Colore esterno: 
                        <label for="coloreesterno">Rosso</label>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>&nbsp;</td>

                    <td>Cilindri: 
                        <label for="cilindri">4</label>
                    </td>

                    <td>Tipo di vernice: 
                        <label for="vernice">Metallizzato</label>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>&nbsp;</td>

                    <td>Peso a vuoto: 
                        <label for="pesovuoto">1496 Kg</label>
                    </td>

                    <td>Carrozzeria: 
                        <label for="carrozzeria">Station wagon</label>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Porte: 
                        <label for="porte">5</label>
                    </td>
                </tr>
                <br>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    
                    <td>Posti a sedere: 
                        <label for="postiasedere">5</label>
                    </td>

                </tr>
                <br>
                <hr>

                <h3><strong>Equipaggiamento</strong></h3>

                <tr>
                    <th>Comfort</th>
                    <th>Infotainment</th>
                    <th>Extra</th>
                    <th>Sicurezza</th>
                </tr>

                <tr>
                    <td>
                        <ul>
                            <li>Alzacristalli elettrici</li>
                            <li>Braccioli</li>
                            <li>Climatizzatore bi-zona</li>
                            <li>Parabrezza riscaldato</li>
                            <li>Sedile posteriore sdoppiato</li>
                            <li>Sensori di parcheggio</li>
                            <li>Sensore di luminosità</li>
                            <li>Sistema di navigazione</li>
                            <li>Volante multifunzione</li>
                        </ul>
                    </td>

                    <td>
                        <ul>
                            <li>Autoradio</li>
                            <li>Bluetooth</li>
                            <li>Android auto / Apple car-play</li>
                            <li>USB</li>
                            <li>Vivavoce</li>
                        </ul>
                    </td>

                    <td>
                        <ul>
                            <li>Cerchi in lega</li>
                            <li>Controllo vocale</li>
                            <li>Freno di stazionamento elettrico</li>
                        </ul>
                    </td>

                    <td>
                        <ul>
                            <li>ABS</li>
                            <li>Airbag conducente</li>
                            <li>Airbag laterali</li>
                            <li>Airbag passeggero</li>
                            <li>Airbag posteriore</li>
                            <li>Antifurto</li>
                            <li>Chiusura centralizzata</li>
                            <li>Controllo automatico trazione</li>
                            <li>ESP</li>
                            <li>Servosterzo</li>
                        </ul>
                    </td>
                </tr>
                <h3><strong>Descrizione</strong></h3>
                
                    <p>
                        Volvo V60 cambio automatico 150cv, vetri oscurati.
                        Auto in ottime condizioni, non fumatori, sempre tagliandata.
                        Prima revisione già effettuata.
                        Il veicolo ha un tono molto sportivo grazie allo spoilerino, cerchi in leghi cromati da 18 e vetri oscurati. ma molto capiente e confortevole.
                        Grazie alle alzatine per il seggiolone ed agli attacchi isofix è adatta anche per chi ha bambini piccoli.
                        Autovettura sicura in ogni sua aspetto grazie al comparto airbag in ogni zona ed al marchio Volvo, garanzia globale in ambito safety.
                        L'auto viene consegnata tagliandata, sistemata da eventuali difetti di carrozzeria, con gomme invernali montate (40%) e treno di gomme estive nuove (90%).
                        E' dotata di diversi optional: vari sistemi di sicurezza (esp, abs, frenata di emergenza ecc..), specchietti retrovisori elettrici, riscaldati e chiudibili elettricamente, controllo elettrico dello schienale lombare, vano porta oggetti climatizzato, navigatore satellitare, modalità ECO (per risparmio carburante), sitema audio High Performance, climatizzatore automatico bizona, ricircolo dell'aria dotato di filtro ai carboni attivi per mantenere l'ambiente purificato, computer di bordo ricco di funzionalità (impostazione e statistiche viaggi, taratura pneumatici ecc..), cruise control, volante multifunzione, inserti cromati, alcuni inserti in pelle sintetica, tutti gli alzacristalli elettrici, verniciatura metallizzata rosso AMARANTO.
                        Ssensori posteriori parcheggio e telecamera posteriore.
                    </p>
            </table>
        </body>
</html>