<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

  <link href="p-utente.component.css" rel="stylesheet">

  <style>

  </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="row col-12">
        <div class="col-4 text-center">
            <h1 class="titolo" style="color: white;">Carbook</h1>
        </div>
        <div class="col-4 ricerca">
            <div class="input-group">
            <input type="search" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2"/>
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                <i class="fas fa-search"></i>
            </button>
            </div>
        </div>
        <div class="col-4">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" >
            <div class="btn-group me-2" role="group" aria-label="First group">

                <a routerLink="/primapagina"><button type="button" class="btn btn-primary">
                    <i class="fas fa-home"></i>
                  </button></a>
  
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postpiu">
                     <i class="fas fa-plus"></i>
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="postpiu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Crea post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                       </button>
                      </div>
                      <div class="modal-body">
                        
                      
                       <img [src]="url ? url : 'assets/plusPost.jpg'" style=" width: 100%; height: 100%; border: 2px solid #000; border-radius: 1%;"> 
                       <label for="testo" class="btn" style=" background-color: rgb(119, 119, 245); color: white; font-size: 80%; padding-top:10px; margin-top: 3%;">Aggiungi file</label>
                       <input type='file' id="testo" (change)="onSelectFile($event)" style="visibility: hidden;" #media>
                        <label for="descrizione">Descrizione</label>
                        <input type="text" class="form-control" id="descrizione" #descrizione>
                        <label for="example-date-input" class="col-4 col-form-label" style="font-size: 20px;">Data</label>
                       <input class="form-control" type="date" value="2011-08-19" id="example-date-input" #dataPubblicazione>
                       <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="aggiungi(media.value, descrizione.value, dataPubblicazione.value)">Pubblica</button>
                    </div>
                      </div>
                      </div>
                   
              </div>
            </div>
          
                  <button type="button" class="btn btn-primary">
                    <i class="far fa-newspaper"></i>
                  </button>
                  <button type="button" class="btn btn-primary">
                    <i class="far fa-bell"></i>
                  </button>
                  <button type="button" class="btn btn-primary">
                    <i class="far fa-calendar-alt"></i>
                  </button>
                  <button type="button" class="btn btn-primary">
                    <i class="far fa-paper-plane"></i>
                  </button>
  
                  <a routerLink="/putente"> <button type="button" class="btn btn-primary">
                    <i class="far fa-user"></i>
                  </button></a>
            </div>
            </div>
        </div>
        </div>
        </div>
        </nav>
<!--     
        <div class = "post">
            <li><a href = "#post">post</a></li>
            <li><a href = "#follower">follower</a></li>
            <li><a href = "#profili_seguiti">profili seguiti</a></li>
        </div>
-->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                
                <div style = "position: absolute; right: 47%; margin-top: 2%;">
                    <li class = "page-item"><a class="page-link" href="#post">Modifica Profilo</a></li>
                </div>

                <div style = "position: absolute; right: 57%; margin-top: 5.5%">
                    <p><strong>post</strong></p>
                </div>

                <div style = "position: absolute; right: 50%; margin-top: 5%">
                    <li class="page-item"><a class="page-link" href="#follower">follower</a></li>
                </div>

                <div style = "position: absolute; right: 42%; margin-top: 5%">
                    <li class="page-item"><a class="page-link" href="#profili seguiti">profili seguiti</a></li>
                </div>
                
            </ul>
        </nav>
        
        <div class="card" style="width: 18rem;">
            <img src="../assets/Profile.jpg" class="card-img-top" alt="Profile photo" style = "width: fit-content; height: fit-content;">
            <div class="card-body">
                <h5 class="card-title">Foto profilo</h5>
                <p class="card-text">Questa è la foto del profilo</p>
            </div>
        </div>
        <hr>
    </body>
</html>