

body {

  
  
  padding-top: 80px;
  
 
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}


.titolo{
    font-style: italic;
    color: gold;
    margin-bottom: 40px;
    margin-top: -30px;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 18px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn{
    border-color: #ff0000;
    background-color: #ff0000;
    font-weight: 500;
}
.btn:hover{
    border-color: #ff0000dc;
    background-color: #ff0000dc;
}
.forgot{
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-title{
  font-size: 1.75rem;
  font-style: italic;
  color: gold;
}

.mb-3{
  margin-top: 1rem!important;
}

.form-group{
  margin-top: 1rem!important;
}

.modal-footer{
  display: block;
  text-align: center;
}


