<html lang = "en">
<!--***Ancora da completare***-->

    <head>
        <meta charset="utf-8">

        <title>Recupero password</title>
        <style>
            p{font-size: 20px;}
        </style>
        <link href = "reimposta-password.component.css" rel = "stylesheet">
    </head>

    <body class = "text-center">
        <form class="form-signin">
            <img class="mb-4" src="../assets/logo-2.png" alt="" width="200" height="100" >
            <div class="titolo">
                <h1 class="scritta">CarBook</h1>
            </div>

        <h1>Reimposta password</h1>
            <label for="inputPassword" class="sr-only">Password</label>
       		<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <br>
            <br>
            <label for="inputNPassword" class="sr-only">Nuova Password</label>
       		<input type="password" id="inputNPassword" class="form-control" placeholder="Password" required>
            <br>
            <button type="button" class="btn btn-light">Aggiorna</button>
        </form>
    </body>

</html>
