<html lang = "en">
<!--***Ancora da completare***-->
    <head>
        <meta charset="utf-8">

        <title>Recupero password</title>

        <style>
            p{font-size: 20px;}
        </style>
        <link href = "reimposta-password.component.css" rel = "stylesheet">
    </head>

    <body class = "text-center">
        <form class="form-signin">
            <img class="mb-4" src="../assets/logo-2.png" alt="" width="200" height="100" >

            <div class="titolo">
                <h1 class="scritta">CarBook</h1>
            </div>

            <h2>Reimposta password</h2>
 
            <label for="input_password" class="sr-only">Nuova Password</label>
       		<input type="password" id="input_password" class="form-control" placeholder="Nuova Password" required #password>
                <br>
            <label for="input_npassword" class="sr-only">Conferma Password</label>
       		<input type="password" id="input_npassword" class="form-control" placeholder="Ripeti nuova Password" required #con_password>
                <br>
            <button type="button" class="btn btn-primary" (click) = "controllaPassword(password.value, con_password.value)">Aggiorna</button>
            
        </form>
    </body>
</html>